body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
a {
  color: #ffffff;
}

.btn {
  display: block;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  /* padding: 19px 54px; */
  /* text-decoration: none; */
  /* margin-top: 44px; */
  /* width: 240px; */
}

.btn:hover {
  opacity: 0.4;
  color: black;
}

.nr-header {
  position: absolute;
  padding-top: 48px;
  width: 100%;
}
.nr-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nr-top-logo {
}
.nr-top-menu {
  display: flex;
  justify-content: space-between;
}

.nr-top-menu__items {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.nr-top-menu__items:not(:first-child) {
  margin-left: 45px; /*left first*/
}

.nr-top-menu__items a {
  color: black;
  text-decoration: none;
}

.nr-top-menu__items a:hover {
  color: #fb565a;
}

.nr-top-cart {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.nr-top-cart__name {
  color: #000000;
  font-weight: 500;
  margin-left: 24px;
}
.nr-top-cart__name:hover {
  color: #fb565a;
}

.nr-section1 {
  display: flex;
  /* position: relative; */
  background-color: #eeeeee;
  min-height: 545px;
  padding-top: 130px;
  /* margin-top: 198px; */
}

.nr-section1-wrapper {
  display: flex;
  justify-content: space-between;
}

.nr-section1-left {
  max-width: 380px;
  /* height: 100%; */
  padding-top: 68px;
}
.nr-section1-left__title {
  font-size: 55px;
  font-weight: 500;
}
.nr-section1-left__descr {
  font-size: 16px;
  margin-top: 28px;
  font-weight: 400;
  line-height: 24px; /**/
}
.nr-section1-left__btn {
  background-color: #fb565a;
  padding: 19px 54px;
  margin-top: 44px;
  width: 240px;
}
/* .nr-section1-left__btn:hover {
  background-color: #f8888b;
} */

.nr-section2 {
  min-height: 508px;
}

.nr-info-block {
  margin-top: 82px;
  max-width: 300px;
}
.nr-info-block-text__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
}
.nr-info-block-text__descr {
  line-height: 24px; /**/
}

.nr-info-block-bottom__btn {
  padding: 18px 40px;
  width: 161px;
  margin-top: 35px;
}

.nr-info-block__1 {
  background-color: #fb565a;
}
.nr-info-block__2 {
  background-color: #00ca74;
}
.nr-info-block__3 {
  background-color: #efc84a;
}

.nr-section3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}

.nr-section3-left {
  max-width: 650px;
}
.nr-section3-left__title {
  font-size: 43px;
  font-weight: 500;
}

.nr-section3-left__descr {
  line-height: 24px; /**/
}
.nr-section3-right {
  max-width: 362px;
}
.nr-section3-right-wrapper {
  display: flex;
}

.nr-section3-right__title{
  font-size: 16px;
  font-weight: 700;
}
.nr-section3-right__persent{
  font-size: 45px;
  font-weight: 700;
}


.nr-section4 {
  min-height: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
  border-top: 2px solid #cfcfcf;
  border-bottom: 2px solid #cfcfcf;
}

.nr-customers:not(:first-child){
  padding-left: 45px;
  border-left: #cfcfcf solid;

}

.nr-section5 {
  background-image: url(../img/map.jpg);
  min-height: 418px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-top: 80px;
  /* justify-content: center; */
  /* align-items: center; */
}

.nr-section5-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nr-section5-about {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* position: absolute; */
  width: 320px;
  height: 310px;
  background-color: #fff;
}

.nr-section5-about-wrapper {
  padding: 50px;
  height: 100%;
}

.nr-section5-about__btn {
  display: block;
  background-color: #fb565a;
  padding: 18px 45px;
  width: 100%;
}

.nr-footer {
  display: flex;
  /* align-items: center; */
  max-height: 217px;
}

.nr-footer-wrapper {
  display: flex;
  padding: 68px 0;
}
.nr-social__list {
  display: flex;
}

.nr-social__items {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 13px;
}

.nr-social__items:hover {
  background-color: #fb565a;
}

.nr-footer-text {
  margin: 0 auto;
}

.nr-footer-text__title {
  font-size: 36px;
  font-weight: 700;
}
.nr-footer-text__descr {
  font-size: 16px;
  font-weight: 400;
}
